django
numpy
python-dateutil
plotly
gunicorn
dj-database-url
python-decouple
python-dotenv
whitenoise
flake8
Pillow
psycopg2
# AI/ML packages
scikit-learn
pandas
joblib
# API Development packages
djangorestframework
drf-yasg
django-cors-headers
# packages
# Uncomment to use a Postgres database.
#psycopg[binary]
coverage
