{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">

    <style>
        .img {
            text-align: center;
            margin-bottom: 30px;
        }

        .img img {
            max-width: 200px;
            height: auto;
        }
    </style>
    
</head>

{% block content %}

    {% if form.errors %}
        <p>Your Username and Password didn't match. Please try again.</p>
    {% endif %}

    <div class="img">
        <img src="{% static 'images/my_logo.png' %}">
    </div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="container">
                <div class="form-container">
                    <div class="form">
                        <h2 style = "text-align: center;">Login</h2>
                        {{ form.username.label_tag }}  {{ form.username }} <br> <br>
                        {{ form.password.label_tag }}  {{ form.password }} 
                        
                    </div>
                    <br>
                    <div class="button-container">
                        <input class="btn btn-primary" type="submit" value="Sign In" />
                    </div>
                    <div class="no_ac">
                        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}