{% load static %}

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
    </head>
    <body>
        {% block content %}
            <div>
                {% if user.is_authenticated %}
                    <h2>Welcome, {{ user.username }}</h2>
                    <a href="{% url 'expenses' %}">Open Expenses</a>
                    <a href="{% url 'incomes' %}">Open Incomes</a>
                {% else %}
                    <div class="home">
                        <h2>Welcome!</h2>
                        <div class="reg">
                            <h2><a href="{% url 'register' %}">Register</a></h2>
                        </div>
                        <div class="log">
                            <h2><a href="{% url 'login' %}">Login</a></h2>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </body>
</html>