{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'css/expense_list.css' %}">
    <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

{% block content %}
<body>
    
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function(){

            var longTermCheckBox = $('#id_long_term');
            var longTermFields = $('#interest_rate, #end_date');

            longTermFields.hide();

            longTermCheckBox.on('change',function(){
                if (longTermCheckBox.is(':checked')) {
                    longTermFields.show();
                } else {
                    longTermFields.hide();
                }
            });
            
        });
    </script>

    <div class="main">

        <div class="img">
            <img src="{% static 'images/logo.png' %}">
        </div>

        <div class="main-1">
            <div class="graph">
                <div class="bar-chart">
                    <h2>Monthly Expenses Bar Chart</h2>
                    <div class="plotly_chart" id="plotly_chart"></div>
                </div>
            </div>
            <div class="expense">
                <h2>Expenses List</h2>
                <div class="expenses">
                    {% for year_month in expense_data %}
                    <div class="month">
                        <h3>Month: {{ year_month }}</h3>
                        {% for expense in expense_data.year_month %}
                        <div class="exp_list">
                            <div class="left">
                                <h2>{{ expense.name }}</h2>
                                {% if expense.long_term %}
                                <span class="date"> Date - From {{ expense.date }} to {{ expense.end_date }}</span>
                                {% else %}
                                <span class="date"> Date - {{ expense.date }}</span>
                                {% endif %}
                            </div>
                            <div class="right">
                                <h2>Rs. {{ expense.amount }}</h2>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="lower">
            <div class="exp_form">
                <h2>Add Long Term Liability or One Time Expenses</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.long_term.label_tag }}
                    {{ form.long_term}}
                    <br> <br>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <br> <br>
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                    <br> <br>
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    <br> <br>
                    <div id="end_date">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                    <br>
                    <div id="interest_rate">
                        {{ form.interest_rate.label_tag }}
                        {{ form.interest_rate }}
                    </div>     
                    <br>
                    <button class="btn btn-sucess" type="submit">Add Liability</button>               
                </form>
            </div>
        </div>

    </div>

    <script>
        var graphData = JSON.parse('{{ graph_data|escapejs }}');
        Plotly.newPlot('plotly_chart', graphData.data, graphData.layout);
    </script>

</body>
{% endblock %}